.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  height: 100vh;
}

.Bonus {
  border: 1px solid black;
  height: 200px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

}
.Account{
  border: 1px solid black;
  height: 270px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;


}